.container{
  display: flex;
  flex-direction: column;
  position: relative;
}
.button{
  width: 100%;
  height: 32px;
  border-radius: 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  cursor: pointer;
  
  svg{
    transition: transform 175ms;
  }

  &.active{
    svg{
      transform: rotate(180deg);
    }
  }

  h4{
    font-size: 12px;
  }
}
.menu{
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px;
  background-color: white;
  filter: blur(.8);
  padding: 10px 20px;
  border-radius: 12px;
  margin-top: 40px;
  width: 200px;
  transition: transform .3s ease-out;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  z-index: 20;

  &.active{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
  li{
    font-size: 12px;
    line-height: 30px;
    color: black;
    opacity: 0.7;
    cursor: pointer;
    font-weight: 700;
  }
  li:hover{
    opacity: 1;
  }
}