.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 100px;
}
.inner{
  max-width: 1366px;
  height: 100%;
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header{
  width: 100%;
  border-bottom: 2px solid #F2F2F2;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .leftBox{
    display: flex;
    align-items: center;
    cursor: pointer;

    .box{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 14px;
      cursor: default;

      h4{
        margin-left: 7px;
        font-size: 16px;
      }
    }
  }
  .rightBox{
    display: flex;
    align-items: center;
    justify-content: center;

    .btnBox{
      width: 157px;
    }
    .verticalButton{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 20px;
      cursor: pointer;
      
      svg{
        opacity: 0.5;
      }
      &.active{
        svg{
          stroke: #EC5E2A;
          opacity: 1;
        }
        path{
          opacity: 1;
          stroke: #EC5E2A;
        }
      }
    }
    .horizontalButton{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 20px;
      cursor: pointer;
      
      svg{
        opacity: 0.5;
      }
      &.active{
        svg{
          stroke: #EC5E2A;
          opacity: 1;
        }
        path{
          opacity: 1;
          stroke: #EC5E2A;
        }
      }
    }
  }
}
.headerResponsive{
  width: 100%;
  height: 52px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #F2F2F2;
  display: none;

  .headerResBox{
    width: 48%;
  }
}
.content{
  display: flex;
  width: fit-content;
  width: 100%;
}

@media(max-width: 1180px){
  .header{
    .rightBox{
      .btnBox{
        display: none;
      }
    }
  }
  .inner{
    padding: 0 20px;
  }
  .headerResponsive{
    display: flex;
  }
  .content{
    .filterContainer{
      display: none;
    }
  }
}